jupyterlab
langchain~=0.3.7
langchain-openai~=0.2.5
pydantic~=2.9.2
pydantic-settings~=2.6.1
langserve[all]~=0.3.0

#unstructured[md]~=0.12.4
#tabulate~=0.9.0
#pdf2image~=1.17.0
#pytesseract~=0.3.10
#chromadb~=0.4.22
#tiktoken~=0.5.2
#pysqlite3-binary~=0.5.2.post3